/* CSS สำหรับ Navbar */
.navbar {
    background-color: #e8f0f0;
    overflow: hidden;
    max-width: 960px; 
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }

  .navbar .navbar-container {
    max-width: 960px; 
    margin: 0 auto; 
    display: flex; 
  }
  
  .navbar a {
    float: left;
    flex:1;
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    padding:14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #CFE0EB;
    color: #000000;
  }
  
  .navbar a.active {
    background-color: #AFD5F0;
    color: black;
  }
